@font-face {
  font-family: font-title;
  src: url(../fonts/amazone_bt.ttf);
  font-display: swap;
}

:root {
  --green: #809C86;
  --white: #FFFFFF;
  --black: #000000;
  --gray : #808285;
  --beige: #EBE0CE;
  --beige-fonce : #CCC3B4;
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body{
  font-family: 'montserrat', sans-serif;
}

.hidden{
  display: none;
}

a{
  text-decoration: none!important;
  color: inherit!important; 
}

.pointer:hover{
  cursor:pointer;
}

.bloc-separate{
  background-color: var(--beige);
  height: 10px;
}

/*****************************************************/
/* TITLES */
/*****************************************************/

.title{
  color: var(--green);
  font-size: 2.5em;
  padding-bottom: 20px;
  text-align: center;
  font-family: font-title;
}

.title-mobile{
  color: var(--green);
  font-family: font-title;
  font-size: 1.7em;
}

.title-section{
  color: var(--green);
  font-size: 3.5em;
  padding-top: 100px;
  margin-bottom: 15px;
  text-align: center;
  font-family: font-title;
}

.title-section-underline{
  width: 70px;
  border-bottom: 1px solid var(--green);
  margin : 0 auto;
  padding-bottom: 5px;
  margin-bottom: 40px;
}


/*****************************************************/
/* HOME */
/*****************************************************/

.home{
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/home.webp");
  text-align: center;
  position: relative;
  box-shadow: inset 0px 50px 30px var(--white), inset 0px -50px 30px var(--white);
}

.home-overlay{
  width: 100%;
  height: 800px;
  background-color: rgba(235, 224, 206, 0.3); 
  position: absolute;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(1px);
}

.home-bloc-description{
  font-weight: lighter;
  width: 75%;
  border : 0px solid var(--green);
  background-color: rgba(255,255,255,.7);
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto!important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.home-description{
  color : var(--green);
  font-weight: lighter;
  font-size: 3.7em;
  font-family: font-title;
  padding-top: 20px;
  padding-bottom: 35px;
}

.home-subdescription{
  color : var(--green);
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'montserrat', sans-serif;
}


.home-btn-cta{
  border : 1px solid var(--green);
  color : var(--green);
  padding: 8px 20px;
  background-color: transparent;
}

.home-btn-cta:hover{
  background-color: var(--green);
  color : var(--white);
}


/*****************************************************/
/* PRESTATIONS */
/*****************************************************/

.container-prestation{
  color: var(--green);
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.container-prestation-detail{
  padding: 25px;
  border : 1px solid var(--beige);
  min-height: 810px;
}

.subtitle-prestation{
  font-size: 2em;
  font-family: font-title;
  padding-top: 15px;
  padding-bottom: 15px;
}

.name-prestation{
  white-space: nowrap;
}

.underline-prestation{
  width: 100%;
  border-bottom: 1px solid var(--beige);
}

.price-prestation{
  text-align: right;
  min-width: 50px;
}

.detail-prestation{
  color : var(--beige-fonce);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 0.8em;
  text-align: justify;
}

/*****************************************************/
/* ABOUT ME */
/*****************************************************/


.container-aboutme{
  text-align: center;
  color : var(--gray);
  padding-left : 25px;
  padding-right : 25px;
  
}

.sentence-aboutme{
  margin-top: 25px;
}

.sentence-aboutme-nb{
  font-size: 0.8em;
  margin-top: 50px;
}

.notabene{
  color : var(--green)
}


/*****************************************************/
/* GIFT CARD */
/*****************************************************/


.container-giftcard{
  width: 100%;
  padding: 25px;
  padding-top: 80px;
  text-align: center;
  color: var(--gray);
}

.giftcard-container-description {
  position: relative;
  width: 100%; 
  height: auto; 
  border : 1px solid var(--beige);
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-top: 60px;
}


.giftcard-img {
  position: absolute;
  top: 0; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: auto; 
  height: auto; 
  background-color: var(--white);
  padding: 25px;
}


.sentence-giftcard{
  margin-top: 25px;
}

.sentence-giftcard-nb{
  font-size: 0.8em;
  margin-top: 50px;
  color : var(--green)
}


/*****************************************************/
/* CONTACT */
/*****************************************************/

.container-contact{
  text-align: center;
  padding-left : 13px;
  padding-right : 13px;
  padding-top : 50px;
  padding-bottom : 50px;
  color: var(--green);
}

.contact-container-description {
  position: relative;
  width: 100%; 
  min-height: 120px; 
  border : 1px solid var(--beige);
  padding : 25px;
  padding-top : 35px;
  margin-bottom: 60px;
  font-size: 0.8em;
}

.contact-container-description-horraires {
  position: relative;
  width: 100%; 
  min-height: 120px; 
  border : 1px solid var(--beige);
  padding : 25px;
  margin-bottom: 60px;
  font-size: 0.8em;
}


.contact-img {
  position: absolute;
  top: 0; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: auto; 
  height: auto; 
  background-color: var(--white);
  padding: 25px;
}

/*****************************************************/
/* FOOTER */
/*****************************************************/

.container-footer{
  width: 100%; 
  text-align : center; 
  padding : 50px; 
  background-color: var(--green);
  color : var(--beige);
}

.footer-img-social{
  border : 1px solid var(--beige);
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.footer-mentions{
  font-size: 0.8em;
}

/*****************************************************/
/* NAV */
/*****************************************************/

.nav-logo{
  text-align: center;
  background-color: var(--white)!important;
  padding: 20px;
  border-bottom: solid 1px var(--beige);
}

.img-logo{
  border-radius: 100%;
  background-color: var(--beige); 
}

.navbar {
  background-color: rgba(255,255,255,.7)!important;
  /*box-shadow: 0 3px 6px 0 rgba(128,156,134,.2);*/
  z-index: 99;
  position : sticky;
  top: 0;
  color : var(--green);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: solid 1px var(--beige);
}

.fixed-top {
  top: -40px;
  transform: translateY(40px);
  transition: transform .3s;
}

.navbar-nav .nav-link {
  text-align: center!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
  font-weight: 300;
  font-size: 14px;
}

.nav-link:hover {
  color : var(--beige-fonce)!important;
}

.navbar-light .navbar-toggler {
  border : 0px!important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(128,156,134)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--green)
} 

.menu-underline {
  position: relative;
}

.menu-underline:before {
  content: "";
  position: absolute;
  display: block;
  width:  100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--beige-fonce);;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-underline:hover::before {
  transform: scaleX(1);
}

/*****************************************************/
/* RESPONSIVE */
/*****************************************************/

@media (max-width: 991px) {
  .navbar-brand{
    display: initial;
  }
  .navbar-nav .nav-link {
    padding: 15px!important;
  }
  .title{
    display: none;
  }
  .anchor{
    display: block;
    height: 270px; /*same height as header*/
    margin-top: -270px; /*same height as header*/
    visibility: hidden;
  }
}

@media (min-width: 991px) {
  .navbar-brand{
    display: none;
  }
}




